:root{
    --poppins-font: 'Poppins', sans-serif; /*Bold - 700 only*/
    --roboto-font: 'Roboto', sans-serif; /*Regular - 400 and Bold - 700*/
    --saira-stencil-one: 'Saira Stencil One', cursive; /*Regular - 400 */
  
}